<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aves de Chile</title>
</head>
<body>
    <h1>Aves de Chile</h1>
        {% for ave in aves %}
        <div>
            <h3>{{ ave.name.spanish }}</h3>
            <h4>{{ ave.name.english }}</h4>
            <div>
                <img src="{{ ave.images.main}}" alt="{{ ave.name.spanish }}">
            </div>
            <hr>
        </div>
        {% endfor %}
</body>
</html>